</main>
<footer>
   <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
          <div class="eight wide column" id="left-links">
            <div class="ui inverted link list">
               <h4 class="ui inverted header">Originally designed and developed by Yasin OSMAN</h4>
               <a href = "mailto:yasinosman10@gmail.com?subject = Feedback&body = Message"
                  target="_blank" class="item">Gmail</a>
               <a href="https://www.facebook.com/yasin.aka.toku" 
                  target="_blank" class="item">Facebook</a>
                <a href="https://github.com/yasinosman" 
                   target="_blank" class="item">GitHub</a>
            </div>
          </div>
          <div class="eight wide column" id="right-links">
            <h4 class="ui inverted header">Library Blog Site</h4>
            <p>ÇYDD Avcılar Şubesi için 2020 yılında geliştirilmiştir.</p>
          </div>
        </div>
        <div class="ui inverted section divider" id="footer-bottom"></div>
        <div class="ui centered mini image" id="cydd-logo">
         <a href="https://www.cydd.org.tr/" target="_blank" class="ui centered mini image"><img src="https://www.cydd.org.tr/store/file/files/CYDD_Logo_Mavi_PNG.png" ></a>
        </div>
        
        <div class="ui horizontal inverted small divided link list" id="about">
          <a class="item" 
             href="https://www.cydd.org.tr/sube/istanbul-avcilar-93/">İletişim</a>
          <a class="item" href="#"> Hizmet Koşulları</a>
          <a class="item" href="#">Gizlilik Politikası</a>
        </div>
      </div>
</footer>
   </body>
</html>