<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <title>Blog App</title>
    </head>
    <body class="Site">
        <main class="Site-content">
            <div class="ui centered grid" id="topBar">
            <div class="ui fixed inverted compact stackable menu">
                <div class="ui container" id="topNavBar">
                    <div class ="header item "><i class="big book icon"></i> 
                        <a href="/blogs">Blog Site</a>
                    </div>
                    <a href="/" class="item">Home</a>
                    <a href="/blogs/new" class="item">New Post</a>
                    <a href="https://www.cydd.org.tr/" class="item" target="_blank">ÇYDD</a>

<!--Authentication-->
                    <%  if(!currentUser){   %>
                        <div class="right menu" id="searchBar">
                            <form class="item" action="/search" method="GET">
                                <div class="ui  icon input">
                                    <input placeholder="Search" name="search" type="text">
                                    <button class="ui button"><i class="search icon"></i></button>
                                    
                                </div>
                            </form>
                        </div>

                    <div class="item " id="signUpButton">
                        <a href="/register"><div class="ui primary button">Sign up</div></a>
                    </div>
                    <div class="item ">
                        <a href="/login"><div class="ui button"> Login </div></a>
                    </div>
                    <%  } else { %>
                    
                    <div class="right menu" id="searchBar">
                        <form class="item" action="/search" method="GET">
                            <div class="ui  icon input">
                                <input placeholder="Search" name="search" type="text">
                                <button class="ui button"><i class="search icon"></i></button>
                            </div>
                        </form>
                    </div>
                    
                    <div class="item " id="signedInAs">
                        Signed in as : <%=currentUser.username%>
                    </div>
                    
                    <div class="item ">
                        <a href="/logout"><div class="ui negative button">Logout</div></a>
                    </div>
                    <%  } %>
                </div>
            </div>

<!--Flash messages-->
        <div class="ui main text container">
            <% if(error && error.length > 0){ %>
            <div class="ui floating negative message">
                <div class="header">
                    BlogSite.com: 
                </div>
                <p><%=error%></p>
            </div>
            <% } %>
            <% if(success && success.length > 0){ %>
            <div class="ui floating positive message">
                <div class="header">
                    BlogSite.com: 
                </div>
                <p><%=success%></p>
            </div>
            <% } %>
        </div>
        </div>
    

        
        
       