.container.main {
    margin-top: 7.0em;
}

#delete{
    display:inline;
}

a{
    color:inherit;
}

body {
    background-color: #ECF0F1;
  }

#commentDelete{
    display:inline;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
.Site-content {
    flex: 1;
}

#cydd-logo{
  display:inline;
}

#about{
  display:block;
}

#left-links{
  margin-top:1em;
}

#right-links{
  margin-top:2em;
}

#footer-bottom{
  margin-top:1em;
  margin-bottom:1em;
}

#searchBar{
  margin-top:1.25em;
  height:2em;
}

#mainBlogs{
  background-color: whitesmoke;
}

#signedInAs{
  margin-right:5px;
  padding-right:5px;
}

@media only screen and (max-width: 600px) {
  #signUpBUtton{
    margin-top:1em;;
  }
}



@media (min-width: 320px) and (max-width: 767px) {
  
  #signUpButton{
    margin-top: 1em;
  }
  
  .right.menu#searchBar{
    max-width:25%;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  #topBar{
    margin-left:0.1em;
  }
  .ui.input>input{
    max-width:1em;
    width:0.5em;
    margin-right:01.em;
  }
}


